h5py
numpy
#torch==1.4.0
#torchvision==0.2.0
pyyaml
pprint
enum34
future
#scipy==1.2.1
#opencv
matplotlib==3.0.2
transforms3d==0.3.1
scikit_image
lmdb
setuptools==65.5.1
#cffi
easydict
plyfile
glumpy
